<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <display-name>ti8go</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/TestDB</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>EmpServlet</servlet-name>
    <servlet-class>com.emp.controller.EmpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmpServlet</servlet-name>
    <url-pattern>/emp/emp.do</url-pattern>
  </servlet-mapping>
  

  <servlet>
    <servlet-name>CardServlet</servlet-name>
    <servlet-class>com.card.controller.CardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CardServlet</servlet-name>
    <url-pattern>/card/card.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>UsersServlet</servlet-name>
    <servlet-class>com.users.controller.UsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UsersServlet</servlet-name>
    <url-pattern>/users/users.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>AdminsServlet</servlet-name>
    <servlet-class>com.admins.controller.AdminsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminsServlet</servlet-name>
    <url-pattern>/admins/admins.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
		<servlet-name>UsersGetPic</servlet-name>
		<servlet-class>com.users.controller.UsersGetPic</servlet-class>

	</servlet>
	<servlet-mapping>
		<servlet-name>UsersGetPic</servlet-name>
		<url-pattern>/UsersGetPic</url-pattern>
	</servlet-mapping>
	
</web-app>